@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Shared styles */
.btn{
    border-radius: 7px;
    background: rgb(13, 19, 33);
    padding: 18px 21px 18px 21px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}

.title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 21px;
}

.description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 42px;
}

/* Navbar styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 132px 0px 132px;
}

nav .title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

nav .download-resume{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 7px;
    opacity: 0.8;
    text-decoration: none;
    padding: 15px 21px 15px 21px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

nav .download-resume:hover {
    background-color: #1a1a1a;
    color: #ffffff;
}

/* Banner styles */
#banner{
margin-top: 44px;
height: 574px;
background-image: url(../assets/Hero-bg.png);
background-repeat: no-repeat;
background-size: cover;
text-align: center;
border-top: 2px dashed rgb(199, 199, 214);
border-bottom: 2px dashed rgb(199, 199, 214);
}

#banner img{
    width: 211px;
    height: 211px;
    margin-top: 23px;
    margin-bottom: 28px;
}

#banner .title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 42px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 194px 21px 194px;
}

#banner .description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 0px 258px 24px 258px;
}

/* Card styles */
#card{
    display: flex;
    justify-content: center;
    align-items: center;
}

#card .container{
    border-radius: 14px;
 
   background: rgba(13, 19, 33, 0.02);
    width: 100%;
    max-width: 1000px;
    padding: 70px 82px;
    text-align: center;
    margin: 70px auto;
}

#card .card-box{
    display: flex;
    justify-content: space-between;
    border-radius: 14px;
    padding: 42px;
    margin: 28px auto;
    width: 100%;
    max-width: 832px;
}

#card .bg-common{
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

#card .bg-unique{
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}


#card .card-box img{
    width: 228px;
    height: 190px;
}

#card .card-box .card-contain h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 14px;
}

#card .card-box .card-contain p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 28px;
}
#card .card-box .card-contain h4{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 41px;
    padding: 10px 18px 12px 18px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    
}

#card .card-box .card-contain h4:hover{
    background-color: #1a1a1a;
    color: #ffffff;
}
